[
	{cloudhook_web, [
		{ip, "127.0.0.1"},
		{port, 8888}
	]},
	{lager, [
		{log_root, "log"},
		{handlers, [
			{lager_console_backend, info},
			{lager_file_backend, [
				{file, "error.log"},
				{level, error}
			]},
			{lager_file_backend, [
				{file, "console.log"},
				{level, info}
			]}
		]},
		{extra_sinks, [
			{error_logger_lager_event, [
				{handlers, [
					{lager_console_backend, info},
					{lager_file_backend, [
						{file, "error_logger.log"},
						{level, info}
					]}
				]}
			]}
		]}
	]}
].
